@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary-color: #fff;
  --secondary-color: #000;
  --sidebar-width:300px;
  --sidebar-bg-color:#11151e;
  --primary-button-color:#050708;
  --primary-button-hover-color:#11151e;
  --modal-background-color: #FFF;
  --radio-button-color:#050708;
}


@font-face {
  font-family: "Montserrat";  
  src: 
    url("../public/fonts/Montserrat-Medium.ttf") ;
}

body {
  font-family: 'Montserrat', sans-serif;
}

input[type="radio"] + label span {
    transition:background  .2s,
      transform .2s;
}

input[type="radio"] + label span:hover,
input[type="radio"] + label:hover span{
  transform: scale(1.2);
} 

input[type="radio"]:checked + label span {
  background-color: var(--radio-button-color);
  box-shadow: 0px 0px 0px 2px white inset;
}

input[type="radio"]:checked + label{
   color: var(--radio-button-color);
}

