
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary-color: #fff;
  --secondary-color: #000;
  --sidebar-width:300px;
  --sidebar-bg-color:#11151e;
  --primary-button-color:#050708;
  --primary-button-hover-color:#11151e;
}


@font-face {
  font-family: "Montserrat";  
  src: 
    url("../public/fonts/Montserrat-Medium.ttf") ;
}

body {
  font-family: 'Montserrat', sans-serif;
}